/**********************************TAG SELECTORS*************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', sans-serif;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin-top: 0;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  color: #EAF6F6;
  width: 5%;
  border-top:  10px dotted;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin: 50px auto;
}

a {
  color: #11999E;
}

a:hover {
  color: #EAF6F6;
}

/**********************************CLASS SELECTORS***********************/
.btn {
  background: #3498db;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background: -ms-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background: -o-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background: -webkit-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
  background: -moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background: -ms-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background: -o-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background: -webkit-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container {
  margin: 30px 0 0 0;
  background-color: #66BFBF;
  height: 100px;
  text-align: center;
  padding: 50px 0 25px;
}

.contact-me {
  width: 25%;
  margin: auto auto 50px auto;
  text-align: center;
}

.copyright {
  color: #EAF6F6;
}

.footer-link {
  text-align: center;
  margin: 0 25px 0 25px;
}

.top-container {
  position: relative;
  background-color: #EAF6F6;
  padding-top: 100px;
}

.second-cloud {
  position: absolute;
  bottom: 300px;
  left: 400px;
}

.first-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.p1 {
  color: #40514E;
  text-align: center;
  margin: 50px auto;
  width: 25%;
}

.profile {
  margin: 50px auto;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.skills-img {
  float: left;
  margin: 30px;
  width: 25%;
}

.skills-img2 {
  float: right;
  margin: 30px;
  width: 25%;
}
